{% form_theme form 'LineStormPollComponentBundle:Form:fields.html.twig' %}

{% import _self as fn %}
{% macro dzPreview(form) %}
    {% spaceless %}
        <div class="media-tile">
            <div class="media-preview">
                <div class="media-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <img class="media-image-thumbnail" data-dz-thumbnail src="{% if form.image.vars.media %}{{ form.image.vars.media.src }}{% endif %}" />
            </div>

            <button type="button" class="btn btn-danger media-remove" tabindex="-1" data-dz-remove><i class="fa-times"></i></button>

            <div class="media-form-container">
                <div class="media-form-item" id="{{ form.vars.form.vars.id }}___name__">
                    <p class="media-image-title">{% if form.image.vars.media %}{{ form.image.vars.media.title }}{% endif %}</p>
                    {{ form_widget(form.body, {attr: {placeholder: 'Body', class: 'media-textarea'} }) }}
                    {{ form_widget(form.image, {attr: {class: 'media-image-id'}}) }}
                    {{ form_widget(form.order, {attr: {class: 'media-order'}}) }}
                </div>
                <p>

                </p>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

<h4>Gallery</h4>
<a class="media-browser-show" href="#"><i class="fa-cloud-upload"></i> Add Images</a>
<div class="row media-browser-row">
    <div class="col-xs-12">
        {{ include('LineStormMediaBundle:Form:select.html.twig') }}

        <button type="button" class="btn btn-default select-media" data-url="{{ url('linestorm_cms_module_media_api_get_media_tree_expanded') }}">
            <i class="fa-check-square-o"></i> Use Selected Media
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ form_widget(form.order) }}
        <div class="gallery-items-container" data-prototype="{{ fn.dzPreview(form.images.vars.prototype)|e('html_attr') }}">

            {% for img in  form.images %}
                {{ fn.dzPreview(img) }}
            {% endfor %}
        </div>
    </div>
</div>
